/*Slider*/
.slideshow-container {
  position: relative;
  width: 100%;
  margin: 40px auto;
  overflow: hidden;
}

/* anmeldelser - kort */
.review-card {
  position: relative;
  display: none;
  position: absolute; inset: 0;
}

/* Vis kun første slide før JS tager over */
.review-card:first-child {
  display: block;
}

.review-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* helt midt i */
  width: 75%;
  text-align: center;
}

.review-stars img {
  width: 20px;
  margin: 0 2px;
}

.review-name {
  margin-bottom: 4px;
}

.review-text {
  margin: 20px 20px 20px 30px;
}


.review-heart {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}

.dot-heart {
  width: 16px;
  opacity: 0.3;
  cursor: pointer;
}

.dot-heart.active {
  opacity: 1;
}

.arrow-left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  left: 24px;
  z-index: 5;   
}

.arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  right: 24px;
  z-index: 5;   
}

.cloud-laptop {
  display: none;
}

.cloud-mobil {
  display: block;
}


/*Mobil*/
@media screen and (min-width: 400px) {
.cloud-laptop {
  display: none;
}

.cloud-mobil {
  display: block;
  width: 100%;
}

}


/*ipad*/
@media screen and (min-width: 768px) {
.cloud-laptop {
  display: block;
  width: 100%;
}

.cloud-mobil {
  display: none;
}
}



/*Laptop*/
@media screen and (min-width: 1200px) {
.cloud-laptop {
  display: block;
  width: 100%;
}
    
.cloud-mobil {
  display: none;
}

.review-content {
  width: 40%;
}

.review-heart {
  bottom: 130px;
}

}