.slideshow-container {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 40px auto;
  overflow: hidden;      /* så skylaget kan gå lidt ud over kanten */
}

.review-card {
  position: relative;
  display: none;
  position: absolute; inset: 0;
}

/* Vis kun første slide før JS tager over */
.review-card:first-child {
  display: block;
}

.review-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* helt midt i */
  width: 80%;
  text-align: center;
}


/* Stjerner */
.review-stars img {
  width: 20px;
  margin: 0 2px;
}

.review-text {
  margin: 20px 20px 20px 30px;
}

/* Hjerter */
.review-heart {
  position: absolute;
  bottom: 40px;         /* justér til det matcher din Figma */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}

.dot-heart {
  width: 16px;
  opacity: 0.3;
  cursor: pointer;
}

.dot-heart.active {
  opacity: 1;
}

.arrow-left {
position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  left: 24px;
   z-index: 5;   
}

.arrow-right {
position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  right: 24px;
   z-index: 5;   
}

/* Mobil */
@media screen and (max-width: 390px) {
.cloud-laptop {
    display: none;
  }
  .cloud-mobil {
    display: block;
  }


}