/* Mobil */

.seasonal-news-section {
  display: flex;
  justify-content: center;
  padding: 40px 16px;
}

.seasonal-news-card {
  position: relative;
  max-width: 480px;
  width: 100%;
}

.seasonal-news-blob {
  width: 100%;
  display: block;
  margin-top: 115px;
}

.seasonal-news-card-content {
  position: absolute;
  inset: 0;
  padding: 48px 32px 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.seasonal-news-cup {
  width: 90px;
  height: auto;
  margin-bottom: 24px;
}

.seasonal-news-card-content p {
  margin: 0 0 8px;
}


.seasonal-news-list {
  list-style: none;
  padding: 0;
  text-align: left;
  max-width: 320px;
  list-style: none;
margin-top: -5px;
}

.seasonal-news-list li {
  display: flex;
  gap: 8px;
  margin-bottom: 6px;
}

.heart-icon {
  width: 14px;
  height: auto;
  margin-top: 3px;
}

button {
  margin-top: 25px;
}

.text-container {
    margin: 70px auto 0 auto;
    text-align: center;
    max-width: 330px;
}
.text-container-about {
    margin: 40px auto 0 auto;
    text-align: center;
    max-width: 330px;
}



/* Mobil */
@media screen and (max-width: 390px) {
  
.seasonal-news-blob-mobile {
display: block;
}

.seasonal-news-blob-desktop {
display: none;
}

.about-me-one-mobil {
    margin: 10px 0px 50px 0px;
}

.about-me-one-desktop {
    display: none;
}

.about-me-two-mobil {
    margin: 30px auto;
}

.about-me-two-desktop {
    display: none;
}

}


/* Desktop */
@media screen and (min-width: 1440px) {

.seasonal-news-blob {
display: none;
  }

.seasonal-news-blob-desktop {
display: block;
margin-top: 120px;

}

  .seasonal-news-card {
        max-width: 800px;
        margin: 0 auto;
    }

.text-container {
    margin-top: 150px;
    max-width: 500px;
}

.text-container-about {
    margin-top: 150px;
    max-width: 500px;
}

.about-me-one-mobil {
    display: none;
}

.about-me-one-desktop {
    display: block;
}

.about-me-two-mobil {
    display: none;
}

.about-me-two-desktop {
    display: block;
}

}