/*header general*/
header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 20px;
position: sticky;
top: 0;
z-index: 1000;
}

.hero-text {
position: absolute;
bottom: 150px;
left: 30px;
z-index: 10;
text-align: left;
}

/*mobil side*/
@media screen and (max-width: 390px) {
/*Header*/
header {
position: fixed;
top: 0;
left: 0;
right: 0;
background: transparent;
z-index: 1000;
}

header {
transition: background-color 0.5s ease;
background-color: transparent; 
}

header.scrolled {
background-color: rgba(26, 26, 26, 0.25);
}

/*molib burger menu*/
#burgericon {
display: block;
width: 50px;
height: auto;
position: absolute;
top: 30px;
right: 20px;
z-index: 1100;
cursor: pointer;
}

#logo {
padding: 20px;
height: 80px;
z-index: 110;
}

.menu-icons {
position: absolute;
top: 10px;
left: 20px;
right: 10px;
display: flex;
justify-content: space-between;
align-items: center;
}

#mobilnav {
position: fixed;
top: 0;              
left: 0;
width: 100vw;
height: 100vh;
background-color: #C3DDF2;  
padding: 40px 20px;
box-sizing: border-box;
z-index: 100;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 20px;
transform: translateX(100%);
transition: transform 0.3s ease;
}
    
#mobilnav.active {
transform: translateX(0);  
}

#closeicon {
position: absolute;
top: 30px;
right: 20px;
width: 40px;
cursor: pointer;
display: none;
}

#mobilnav.active #closeicon {
display: block;
}

#mobilnav.active ~ #burgericon {
display: none;
}

/* Undermenu */
.toggle-submenu::after {
content: url("images/toggle.svg"); 
margin-left: 5px;
display: inline-block;
transition: transform 0.3s ease; 
}

.mobile-menu-item.open .toggle-submenu::after {
transform: rotate(180deg);
}
    
.submenu {
display: none;
flex-direction: column;
align-items: center;
padding-top: 5px;
}
    
.submenu a {
padding: 10px 0;
color: #1a1a1a;
text-decoration: none;
font-size: 16px;
}
    
.mobile-menu-item.open .submenu {
display: flex;
}

/*social medie ikoner*/
.social-icons {
display: flex;
display: flex;
justify-content: center;
gap: 10px;
padding-top: 20px;
}

.social-icons img {
height: 20px;
width: auto;  
}

/*Laptop menu på mobil */
#laptopnav {
display: none;
}

/*hero billede*/
.laptopbillede {
display: none;
}
    
.mobilbillede {
display: block;
}

}

/*desktop*/
@media screen and (min-width: 1440px) {

header {
padding: 10px 50px 20px 50px;
background-color: #F8F0E2;
}

#logo {
height: 100px;
padding: 0; 
align-items: flex-start;
z-index: 1000;
}
    
#laptopnav {
display: flex;
gap: 80px;
padding-top: 40px;
z-index: 1000;   
}

#laptopnav a {
text-decoration: none;
font-size: 16px;
}

.menu-text:hover{
color: #C8BEDF;
}

/* Dropdown */
.menu-item {
position: relative;
}
  
.dropdown {
display: none;
position: absolute;
background-color: #F8F0E2;
min-width: 140px;
box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
flex-direction: column;
}
  
.menu-item:hover .dropdown {
display: flex;
}

.dropdown {
left: -10px; 
}

.dropdown a {
transition: background-color 0.2s ease;
padding: 10px 10px;
}

.dropdown a:hover {
background-color: #C8BEDF;
}


/*social medie ikoner*/
.social-icons {
display: none;
}

/*molib nav på laptop*/
#burgericon {
display: none;
}
  
#mobilnav {
display: none;
}

.active {
border-bottom: 2px solid #C8BEDF;
}

/*hero billede*/
.hero-billede {
position: relative;
width: 100%;
}
  
.hero-billede img {
width: 100%;
height: auto;
}

.hero-text {
left: 70px;
}

.laptopbillede {
display: block;
}
  
.mobilbillede {
display: none;
}

}