/*header general*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: sticky; /*Gør at headeren følger med ved scroll*/
    top: 0;
    z-index: 1000; 
}

/*burger menu*/
#burgericon {
    display: block;
    width: 50px;
    height: auto; /*Bevarer proportionerne*/
    position: absolute;
    top: 30px;
    right: 20px;
    z-index: 1100;
    cursor: pointer; /*Gør at cursoren bliver til en pointer*/
}

#logo {
    padding: 20px;
    height: 80px;
    z-index: 110;
}

/*burger menu icons*/
.menu-icons {
    position: absolute;
    top: 10px;
    left: 20px;
    right: 10px;
    display: flex;
    justify-content: space-between; /* Fordeler ikonerne jævnt */
    align-items: center; /* Centrerer ikonerne lodret */
}

#closeicon {
    position: absolute;
    top: 30px;
    right: 20px;
    width: 40px;
    cursor: pointer;
    display: none; /* Skjult som standard */
}

#mobilnav.active #closeicon {
    display: block; /* Viser luk-ikonet når menuen er aktiv */
}

#mobilnav.active ~ #burgericon {
    display: none; /* Skjuler burger-ikonet når menuen er aktiv */
}

/* Burger menu */
#mobilnav {
    position: fixed;
    top: 0;              
    left: 0;
    width: 100%;
    height: 100vh; /* Fuld højde af skærmen */
    background-color: #C3DDF2;  
    padding: 40px 20px;
    box-sizing: border-box;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrerer menupunkterne horisontalt */
    justify-content: center; /* Centrerer menupunkterne lodret */
    gap: 20px;
    transform: translateX(100%); /* Skubber menuen ud af skærmen som standart */
    transition: transform 0.3s ease;
}

#mobilnav.active {
    transform: translateX(0); /* Skubber menuen ind på skærmen */
}
    
/* Undermenu */
.toggle-submenu::after {
    content: url("images/toggle.svg"); 
    margin-left: 5px;
    display: inline-block;
    transition: transform 0.3s ease; 
}

/* Roterer pilen når undermenuen er åben */
.mobile-menu-item.open .toggle-submenu::after {
    transform: rotate(180deg);
}
    
.submenu {
    display: none;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
}
    
.submenu a {
    padding: 10px 0;
    color: #1a1a1a;
    text-decoration: none;
    font-size: 16px;
}

/* Viser undermenuen når menu-item har klassen "open" */
.mobile-menu-item.open .submenu {
    display: flex; 
}

/*social media ikoner*/
.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 20px;
}

.social-icons svg {
    height: 25px;
    width: auto;
}


/* Sjuler laptop menuen på standart */
#laptopnav {
    display: none;
}

.hero-text {
    position: absolute;
    bottom: 10%;
    left: 30px;
    z-index: 10;
    text-align: left;
}

/*Laptop hero billede*/
.laptopbillede {
    display: none;
}

/*Mobil hero billede*/
.mobilbillede {
    display: block;
    width: 100%;
}

/*mobil side*/
@media screen and (max-width: 480px) {

/*Header*/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: transparent;
    z-index: 1000;
    transition: background-color 0.5s ease;
    background-color: transparent; 
}

/*Ændrer baggrundsfarven når der scrolles*/
header.scrolled {
    background-color: rgba(26, 26, 26, 0.25);
}

}

/*Ipad*/
@media screen and (min-width: 768px) {

/*Header*/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: transparent;
    z-index: 1000;
    transition: background-color 0.5s ease;
    background-color: transparent; 
}

/*Ændrer baggrundsfarven når der scrolles*/
header.scrolled {
    background-color: rgba(26, 26, 26, 0.25);
}

/*Hero billede*/
.hero-billede {
    position: relative;
    width: 100%;
}

.hero-billede img {
    width: 100%;
    height: auto;
}

/* viser laptop billede*/
.laptopbillede {
    display: block;
}

/*skjuler mobil billede*/
.mobilbillede {
    display: none;
}

.hero-text {
    left: 70px;
    bottom: 20%;
    max-width: 60%;
}

}


/*Laptop*/
@media screen and (min-width: 1200px) {

header {
    padding: 10px 50px 20px 50px;
    background-color: #F8F0E2;
}

/*bevare den gule baggrundsfarve når der scrolles*/
header.scrolled {
    background-color: #F8F0E2;
}

#logo {
    height: 100px;
    padding: 0; 
    align-items: flex-start;
    z-index: 1000;
}
 
#laptopnav {
    display: flex;
    gap: 80px;
    padding-top: 40px;
    z-index: 1000;   
}

#laptopnav a {
    text-decoration: none;
    font-size: 16px;
}

.menu-text:hover{
    color: #C8BEDF;
}

/* Dropdown */
.menu-item {
    position: relative;
}
  
.dropdown {
    display: none;
    position: absolute;
    background-color: #F8F0E2;
    min-width: 140px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    flex-direction: column;
}
  
.menu-item:hover .dropdown {
    display: flex;
}

.dropdown {
    left: -10px; 
}

.dropdown a {
    transition: background-color 0.2s ease;
    padding: 10px 10px;
}

.dropdown a:hover {
    background-color: #C8BEDF;
}


/*social medie ikoner*/
.social-icons {
    display: none;
}

/*molib nav på laptop*/
#burgericon {
    display: none;
}
  
#mobilnav {
    display: none;
}

/* streg under aktivt menupunkt */
.active {
    border-bottom: 2px solid #C8BEDF;
}

/*hero billede*/
.hero-billede {
    position: relative;
    width: 100%;
}
  
.hero-billede img {
    width: 100%;
    height: auto;
}

.hero-text {
    left: 70px;
    bottom: 20%;
}

.laptopbillede {
    display: block;
}
  
.mobilbillede {
    display: none;
}

}