/* Mobil */

.seasonal-news-section {
  display: flex;
  justify-content: center;
  padding: 40px 16px;
}

.seasonal-news-card {
  position: relative;
  max-width: 480px;
  width: 100%;
}

.seasonal-news-blob {
  width: 100%;
  display: block;
  margin-top: 115px;
}

.seasonal-news-card-content {
  position: absolute;
  inset: 0;
  padding: 48px 32px 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.seasonal-news-cup {
  width: 90px;
  height: auto;
  margin-bottom: 24px;
}

.seasonal-news-card-content p {
  margin: 0 0 8px;
}


.seasonal-news-list {
  list-style: none;
  padding: 0;
  text-align: left;
  max-width: 320px;
  list-style: none;
margin-top: -5px;
}

.seasonal-news-list li {
  display: flex;
  gap: 8px;
  margin-bottom: 6px;
}

.heart-icon {
  width: 14px;
  height: auto;
  margin-top: 3px;
}

button {
  margin-top: 25px;
}

.text-container {
    margin: 70px auto 0 auto;
    text-align: center;
    max-width: 330px;
}
.text-container-about {
    margin: 40px auto 0 auto;
    text-align: center;
    max-width: 330px;
}

.event-grid {
  display: flex;
  flex-direction: column; /* mobil = under hinanden */
  align-items: center;
}

.event-card {
    background-color: #FFFDF8;
    padding: 16px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(26,26,26,0.15);
    width: 320px;
   
}

.event-img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 12px;
}

.event-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.event-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.event-description {
    margin: 0;
}

.text-container-shop { 
  height: 100vh;               /* fylder hele skærmen */
    display: flex;               /* centrerer indholdet */
    flex-direction: column;
    justify-content: center;     /* lodret center */
    align-items: center;         /* vandret center */
    text-align: center;
    padding: 0 20px;      /* samme baggrund som resten */
}

.text-container-shop h1 {
color: #1a1a1a;
}

/* Mobil */
@media screen and (max-width: 390px) {
  
.seasonal-news-blob-mobile {
display: block;
}

.seasonal-news-blob-desktop {
display: none;
}

#about-extra{
    display: none;
}

#about-extra-title {
    display: none;
}

.about-me-one-mobil {
    margin: 10px 0px 50px 0px;
}

.about-me-one-desktop {
    display: none;
}

.about-me-two-mobil {
    margin: 30px auto;
}

.about-me-two-desktop {
    display: none;
}

.event-card {
    margin: 20px auto 20px auto;
}

.text-container-events {
  display: none;
}

}


/* Desktop */
@media screen and (min-width: 1440px) {

.seasonal-news-blob {
display: none;
  }

.seasonal-news-blob-desktop {
display: block;
margin-top: 120px;

}

  .seasonal-news-card {
        max-width: 800px;
        margin: 0 auto;
    }

.text-container {
    margin-top: 150px;
    max-width: 500px;
}

#text-container-body {
display: none;
}

.text-container-about {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-items: center; 
  gap: 60px;
  max-width: 850px;
  margin: 100px auto;
}

.about-me-one-mobil {
    display: none;
}

.about-me-one-desktop {
    display: block;
}

.about-me-two-mobil {
    display: none;
}

.about-me-two-desktop {
    display: block;
}

.event-grid {
    flex-direction: row;     /* nu ved siden af hinanden */
    justify-content: center;
    flex-wrap: wrap;         /* hvis der kommer flere, må de gerne hoppe ned */
    gap: 24px;
    margin-top: 50px;
  }

  .text-container-events {
    margin-top: 150px;
    max-width: 50%;
    margin: 100px auto 0 auto;
    text-align: center;
}


}